<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class = 'jumbotron'>
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
</div>



<div class = "container-fluid " style="margin-bottom: 5px;">
<div class="row">


        <!-- the smaller colomn -->
       
          <div class="col-sm-4 smallCol">

          <!-- Online users -->

          <div *ngIf='gotUser'>
            <h3>Online Users :</h3>
            <ul>
            <div *ngFor='let item of userArray '>
                <div class='online' *ngIf="room==item.room && user!=item.user"> 
                
                  <li><strong class='user'>{{item.user}}</strong> <button class='btn btn-success' style="margin-left:10px;" (click)='privateChat(item.user)'>Send Chat Request</button></li>
              </div>
             
               
            </div>
          </ul>
          </div>


          <!-- submit leave -->
            <div *ngIf='!gotUser'>
            <div class="form-group">
              <label for="UserName">User Name</label>
              <input type="text" #user (blur)="getUser(user.value); " class="form-control"/>
            </div>
            <label for="roomInput" >Choose room</label>
            <select name ="roomInput" class="form-control" #room (blur)="getRoom(room.value);">
              <option value = "room1">Room1</option>
              <option value = "room2">Room2</option>
              <option value = "room3">Room3</option>
            </select>
            <button class="btn btn-default" (click)="dataRecieved(); join();" type="button">Join chat</button>
           
          </div>
          <button class="btn btn-default" (click)="leave(); gotUser=false;">Leave</button>
         
         
          </div>
        
       <!-- the large colomn -->
        
          <div class="col-sm-8  largeCol" >
         
            <div *ngIf='!gotUser'  class="alert alert-warning">
              <strong>Please</strong> enter your name and select a room to join

            </div>



            <div *ngIf='gotUser'style="height: 400px;overflow-y: auto;">

             <div *ngFor='let item of messageArray ' >
              <div class = 'alert alert-info'> 
              <span ><strong>{{item.user}} : </strong>{{item.message}}</span>
            </div>
             </div>
              <div class="input-group textBox">
                  <input type="text" class="form-control" #msg (blur) = "getMsg(msg.value)">
                  <span class="input-group-btn">
                       <button class="btn btn-default" (click)="sendMessage()" type="button">Send</button>
                  </span>
               </div>
              </div>


              </div>
        </div>
      </div>
   
<!-- For personal chat -->



<div class="container">
    <!-- Button to Open the Modal -->
  <button type="button" id="modalClick"  data-toggle="modal" data-target="#myModal" style="display: none" >
  </button>

  <!-- The Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Hi {{user}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          {{sender}} wants to chat!! 
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel Request</button>
          <button type="button" (click)='acceptChatRequest()' class="btn btn-secondary" data-dismiss="modal">Chat</button>
        </div>
        
      </div>
    </div>
  </div>
  
</div>
      





      <!-- <div *ngIf='personalChat==true'  class='container-fluid'>
        <div class = row>
     <div *ngFor="let item of personalChatter; let i = 'index'">
     <div [ngStyle]="{'background-color':i%2===0 ?'#ff8b4f':'#c88900'}"  class="col-sm-4 personalCol" >


        <h3 class="text-center" style="margin: 0px; background-color: black;color: white;">{{item}}</h3>
       
        <div class="input-group textBox">
            <input type="text" class="form-control" #msg (blur) = "getMsg(msg.value)">
            <span class="input-group-btn">
                 <button class="btn btn-default" (click)="sendMessage()" type="button">Send</button>
            </span>
         </div>



     </div>
     </div>

  
      </div>
      </div> -->
